header{
	background-color: #f2f2f2;
}

.lacg{background: url('../images/fondo_lacg.png') no-repeat left top;}
.emea{background: url('../images/fondo_emea.png') no-repeat left top;}
.apac{background: url('../images/fondo_apac.png') no-repeat left top;}

.center{
	text-align:center;
}

h1{
	font-family: 'Enriqueta', arial, serif; 
	line-height: 1.25; 
	margin: 0 0 10px; 
	font-size: 40px; 
	font-weight: bold;
}

.imgStatus{
	width:40px;
	heigth:40px;
}

.imgDetail{
	width:30px;
	height:30px;
}

.imgOrgDetail{
	width: 25px;
	height: 25px;
}

input[type=text]{
	width:60%;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 1px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
}

input[type=submit]{
	background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 6px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    width: 90px;
}

input[type=reset]{
	background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 6px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    width: 90px;
}

.error{
	text-align: center;
}
.error p{
	color:#D8000C;
	background-color: #FFBABA;
	display: inline-block;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	border-radius: 5px;
}

.errorSearch{
	color:#D8000C;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	border-radius: 5px;
}

#existItems{
 	display:none;
}

#itemsContainer{
	background-color: #008CBA;
	border-radius: 10px;
	font-family: 'Enriqueta', arial, serif; 
	line-height: 1.25; 
	margin: 0 0 10px;
}

#divHeaderTable th{
	color: white;
	font-size: 20px;
}

table{
	width:100%;
}

.tabInfoItem{
	background-color: white;
}

.tabItemDetail tr {
	background-color: #f2f2f2;
	border-bottom: thin solid #A9A9A9;
}

.tabItemDetail tr:hover{
	background-color: #A9A9A9;
}

.tabInfoItem td{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

.tabButtons{
	background-color:white;
}

.tabButtons td{
	padding-bottom: 5px;
}

.headDetailItem th{
	background-color: #008CBA;
	color: white;
	font-size: 17px;
}

[class^="detalle"] th{
	background-color: #008CBA;
	color: white;
	font-size: 15px;	
}

.tabItemDetail td{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 17px;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	text-align: center;
}